<!--Analysis Reports view-->
<!-- <ion-view cache-view="false" view-title="Reports">
<ion-content id="report" class="padding">
<div class="list list-inset">
<r id="r" ng-controller="DocumentController as vm" class="padding">
        <p><button ng-click="vm.createPDFS()" class="button icon-left  button-outline">View Reports</button></p> 
        </r>
        </ion-content>
<script id="pdf-viewer.html" type="text/ng-template">  
    <ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Report</h1> 
        <button ng-click="vm.modal.hide()" class="button button-icon icon ion-android-close"></button>
    </ion-header-bar>
    <ion-content>
        <ng-pdf ng-if="pdfUrl" template-url="partials/viewer.html" canvasid="pdf" scale="page-fit"></ng-pdf>  
    </ion-content>
    </ion-modal-view>
</script>  

</ion-content>
</ion-view> -->