body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

 .custom-dark{
    background-color:#30393A !important;
 }

#login_background{
    background: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    z-index: 2;
}

#login{
    background: transparent;
}

#score_background{
    background: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    margin: auto;
    z-index: 2;
}

#score{
    background: transparent;
}


#questions_background{
    background: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    z-index: 2;
}

#questions{
    background: transparent;
}


#teacher_background{
    background: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    z-index: 2;
    opacity: 0.7;
}
#teacher{
    background: transparent;
    margin: 30%;
}

#teahchersquestions_background{
    background: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    z-index: 2;

}
#teahchersquestions{
    background: transparent;
}
#report{
        background: rgba(255,255,255);
}


h4{
    padding: 5px;
    font-weight: bold;
    font-style: oblique;
}

ans{
    color: green;
    font-style: italic;
}

div{
    font-weight: bold;
    
}

h5{
    padding-left: 20px;
}

button{
    font: 20px 'Trebuchet MS', verdana, sans-serif;
    font-weight: bold;
}

#button {
    background-color: rgb(255, 255, 255); 
    color: #404040;  
    border: 2px solid #80ffaa;
    box-shadow: 0 8px 16px 0 rgba(153, 255, 187,0.5), 0 6px 20px 0 rgba(102, 255, 153,0.4);
}
#button:hover { 
    background-color: #404040;
    color: rgb(128, 255, 170);  
}

button:active {
   background-color: rgb(255, 255, 255); 
    color: #404040;
}

/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
 .list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
 }
 .list .item.item-accordion.ng-hide {
    line-height: 0px;
 }
 .list .item.item-accordion.ng-hide-add,
 .list .item.item-accordion.ng-hide-remove {
    display: block !important;
 }

